<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Beginners</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
    <style>
        body {
            margin: 5%;
            font-family: 'Quicksand', sans-serif;
        }
        .active {
            background: salmon;
            border: 0;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <header>
            <img src="image/logo.png" alt="logo" width="80">
            <h1>{{ name }}</h1> <!-- Binding Expression -->
            <h3 v-once>{{ name + ' Wkwkw' }}</h3> <!-- v-once: tidak bisa diubah secara live -->
            <p>The Progressive JavaScript Framework</p>
            <p>Are you okay? {{ isactive ? 'Yes' : 'No' }}</p>
            <p>{{message.toUpperCase()}}</p>
            <p>{{getname()}}</p>
            <!-- <p>{{ubahNama("Aristoteles")}}, namamu sekarang berganti ya?</p> -->
            
            <p><b>Computed Property</b></p>
            <p>Nilai qty: {{qty}}</p>
            <p>Nilai total: {{totalBayar}}</p>
            <p>{{namaLengkap}}</p>
            
            <p><i>Latihan Computed Property</i></p>
            <p>{{bilangan}}</p>
            <p>Bilangan di atas adalah bilangan {{infoBilangan}}</p>
            
            <p><b>Directive</b></p>
            <p v-once>{{name}}</p>  <!-- Tidak bisa diubah -->
            <p v-text="name"></p>   <!-- Menampilkan data berbentuk string, seperti innerText. Sama seperti menuliskan template syntax menggunakan {{}} -->
            <p v-text="bilangan*10"></p>
            <p v-text="name.toUpperCase()"></p>
            <p v-html="link"></p>   <!-- Menampilkan data berbentuk html, seperti innerHTML -->
            
            <p><b>Attribute Binding</b></p>
            <img v-bind:src="gambar" alt="" width="500"> <!-- Penggunaan template syntax {{}} tidak bisa digunakan di dalam attribute html -->
            <img :src="gambar" alt="" width="500"> <!-- Penulisan ":" sama seperti di atas -->
            
            <p><b>Events</b></p>    <!-- Events merupakan kejadian2 yang terjadi di dalam DOM HTML -->
            <p style="color: red;" v-text="bilangan"></p>
            <button v-on:click="bilangan++">Ditekan</button>
            <button @click="handleClick()">Ditekan</button> <!-- penggunaan dengan function, dan v-on: diganti "@" -->

            <p><b>Class Binding</b></p>
            <!-- Cara membaca '===': Apakah nilai 'menu' adalah 'home'? Apabila IYA maka TRUE, sebaliknya FALSE. Dua baris selanjutnya juga sama. -->
            <!-- Semua button dikasih event onclick, di mana isinya adalah inisiasi nilai 'menu' -->
            <button v-bind:class="{active: menu === 'home'}" v-on:click="menu = 'home'">Home</button>
            <button v-bind:class="{active: menu === 'about'}" v-on:click="menu = 'about'">About</button>
            <button v-bind:class="{active: menu === 'blog'}" v-on:click="menu = 'blog'">Blog</button>

            <p><b>Two Ways Data Binding</b></p>
            <h3>Perubahan pada Two Ways: {{ name }}</h3>
            <input type="text" v-model="name">
            <p v-text="kelas"></p>
            <div>
                <label><input type="checkbox" value="React" v-model="kelas"> React</label>
                <label><input type="checkbox" value="VueJS" v-model="kelas"> VueJS</label>
                <label><input type="checkbox" value="Angular" v-model="kelas"> Angular</label>
            </div>

            <p><b>Directive Perulangan v-for</b></p>
            <ul>
                <li v-for="k in kelas" v-text="k"></li>
            </ul>
            <!-- Sama saja pakai 'in' dan 'of' -->
            <p>Total kelas: {{ kelas.length }}</p>
            <ul v-if="kelas.length >= 1"> <!-- Apabila panjang 'kelas' lebih dari 1 maka tampilkan ul-li tersebut -->
                <li v-for="(item, index) of kelas">{{ index + 1 }} - {{ item }}</li>
            </ul>
            <li v-else>Kelas belum tersedia!</li> <!-- Pastikan v-if dan v-else sejajar -->
            <p>Perulangan 1 sampai 5</p>
            <ul>
                <li v-for="x in 5">{{ x }}</li>
            </ul>
            <p>Latihan directive v-for: MENCARI BILANGAN GENAP {{ numbers }}</p>
            <ul>
                <li v-for="x in cariBilanganGenap(numbers)">{{ x }}</li>
            </ul>
        </header>
        <footer id="footer">
            <p>Copyright 2020</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
        // Object dari Vue mengatur seluruh data yang berkaitan dengan aplikasi
        // Di dalam kurung berisi options dari object, terdiri dari key dan property (value)
        /// el: menentukan elemen mana yang ingin dijadikan sebagai sistem component dari Vue
        /// data: berfungsi untuk menyimpan data (string, number, boolean, array, object)
        /// computed: Computed Property, masing-masing terdiri dari property tapi dibentuk dari fungsi (method).
        // directive: fungsi-fungsi yang disediakan oleh Vue, dan nempel di elemen Template, contoh: v-once
        // v-bind --> digunakan semisal kita ingin menerapkan property atau method di attribute HTML
        // class binding: mengatur class untuk HTML-nya yang bertujuan untuk menerapkan class secara dinamis
        // v-model --> membuat binding data dengan konsep 2 arah (Two ways data binding), ketika ada data di Vue berubah, maka data di dalam object juga akan berubah.
        // v-if: merender sebuah block elemen yang bersyarat

        const member = {
            name: 'Doremi Fasolasido',
            message: "Hello World!",
            isactive: true,
            qty: 3,
            namaDepan: "Adam",
            namaBelakang: "Fahmil",
            bilangan: 5,
            link: '<a href="#">Ini link</a>',
            gambar: 'image/banner_about.png',
            menu: 'home',
            kelas: [],
            numbers: [1,2,3,4,5]
        }
        const vm = new Vue({ // Instance object dari Vue, terdiri dari beberapa property
            el: '#app', // value berupa string selector (class, tag, id) atau elemen html yang dipilih: "root component"
            data: member, // value bisa berupa string, number, boolean, array dan object
            methods: {
                getname: function() {
                    return 'Hello, ' + this.name // this mengacu pada object Vue
                },
                ubahNama: function(namaBaru) {
                    this.name = namaBaru
                    return this.getname()
                },
                handleClick: function() {
                    this.bilangan++
                    this.gambar = 'image/banner_home.png'
                },
                cariBilanganGenap: (data) => { // penulisan sama seperti function()
                    return data.filter(angka => { // method filter: salah satu method yang ada di JS, berfungsi untuk menyimpan array yang isi datanya ialah yang berhasil sesuai kondisi filter tersebut (dalam hal ini TRUE ketika 'angka' di-mod 2 hasilnya 0)
                        return angka % 2 == 0
                    })
                }
            },
            computed: { // nilai property bergantung pada property lain
                totalBayar: function () {   // bergantung pada "qty"
                    return this.qty * 10000
                },
                namaLengkap: function() {
                    return this.namaDepan + " " + this.namaBelakang
                },
                infoBilangan: function() {
                    return this.bilangan%2 === 0 ? 'Genap' : 'Ganjil'
                }
            }
        })
    </script>
</body>
</html>